@import 'tailwindcss';

@font-face {
    font-family: Inter-regular;
    src: url('../fonts/Inter_18pt-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Inter-semibold;
    src: url('../fonts/Inter_18pt-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: Inter-bold;
    src: url('../fonts/Inter_18pt-Bold.ttf') format('truetype');
}

@theme {
    --color-primary: #0c1b44;
    --color-black-trp: rgba(0, 0, 0, 40%);
    --color-app-purple: #bd24df;
    --color-text-main: rgba(255, 255, 255);
    --color-text-op-40: rgba(255, 255, 255, 40%);
    --font-inter-reg: Inter-regular;
    --font-inter-sb: Inter-semibold;
    --font-inter-bold: Inter-bold;
    --breakpoint-*: initial;
    --breakpoint-sm: 480px;
    --breakpoint-md: 640px;
    --breakpoint-lg: 768px;
    --breakpoint-xl: 1024px;
    --breakpoint-2xl: 1280px;
    --breakpoint-3xl: 1536px;
}

@utility container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@utility bg-gradient-app {
    background-image: linear-gradient(
        to right,
        rgba(189, 36, 223, 17%),
        rgba(45, 106, 222, 17%)
    );
}

@utility bg-scroll-header {
    background-image: linear-gradient(to right, #410c4c, #0a2351);
}

@utility bg-gradient-to-r {
    background-image: linear-gradient(
        to right,
        rgb(189, 36, 223),
        rgb(45, 106, 222)
    );
}

@utility bg-gradient-to-l {
    background-image: linear-gradient(
        to right,
        rgb(45, 106, 222),
        rgb(189, 36, 223)
    );
}

@layer components {
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        width: 5.5rem;
        height: 2.75rem;
        font-family: Inter-semibold;
    }

    .menu-open .mobile-menu__line {
        background-color: transparent !important;
    }

    .menu-open span::before {
        transform: translateY(-0.53rem) rotate(-45deg);
    }

    .menu-open span::after {
        transform: translateY(0.53rem) rotate(45deg);
    }
}
